*{margin: 0;
    box-sizing: border-box;
    
}
body{ 
    background-image: url('https://res.cloudinary.com/ifunanya67/image/upload/v1655403704/bg-intro-desktop_y8n2dn.png');
    background-color: rgb(210, 11, 77);
    font-family: 'Poppins', sans-serif;
}
main{
    display:flex;
    flex-wrap: wrap;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.firstp{
    font-size: 20px;
    font-weight: 400;
}
.first-content{
    width: 40%;
    margin-top: 200px;
    margin-left: 50px;
    color: white;
}
.second-content{
    width:40%;
    margin-top: 100px;
    margin-left: 100px;
    height: 100%;
    display: inline-block;
    margin-bottom: 10px;
    
    
}
.classtwo{
    background-color: rgb(39, 39, 149);
    color: white;
    padding: 20px;
    border: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;}
.logindetails{
    padding: 20px;
    background-color: white;
    line-height: 60px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 5px;
    line-height: 100px;
    width: 100%;
    box-sizing: border-box;
    
    
    
}

input{
     box-sizing: border-box;
     padding: 10px;

}
#fname{
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;

}
#lname{
    padding: 10px;
    border-radius: 5px;
}
#email{
    padding: 10px;
    border-radius: 5px;
}
#password{
    padding: 10px;
    border-radius: 5px;
}
.btn #submit{
    background-color: #4caf50;
    width: 75%;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: none;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
.terms{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.spanone{
    font-size: 12px;
    font-weight: 700;
}
.spantwo{
    color: red;
}

@media screen and (max-width:2000px) and (min-width: 701px) {
    .second-content{
        display: inline-block;
        width: 40%;
        flex-direction: row;
        justify-content: center;


        
    }
    input{
        width: 80%;
        box-sizing: border-box;
    }
    .first-content{
        width: 40%;
    }

}
@media screen and (max-width:700px){
    body{
        background-image: url('https://res.cloudinary.com/ifunanya67/image/upload/v1655417362/bg-intro-mobile_ihdjoo.png');
    background-color: rgb(210, 11, 77);
    }
    .logindetails {
        flex-direction: column;
        display: inline-block;
    
    }
    .first-content{
        width: 100%;
        text-align: center;
        align-content: center;
        justify-content: center;
        
    }
    .firstp{
        width: 100%;
    }
    .logindetails{

        text-align: center;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 40px;
        margin-left: 5px;
        border-radius: 20px;
        width: 100%;
        
        
        
    }
    input{
        width: 90%;
        box-sizing: border-box;
        display: inline-block;
    }
    .terms{
        line-height: 3;
    }
    
    

    
}